<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="person-activity.css">
</head>
<body>

sf sdsda fdsaf dsf sda dsa

<table  class='detail-table'>
    <tr>
        <td>
            dsf asd sdf dsfds dsa dsf asdf
        </td>
        <td>
            dsf dsfg rwegwergwerg ewrg erwg
        </td>
    </tr>
    <tr class='detail-table-tr'>
        <td>
            ds asdf sdfsdfsdf dsf
        </td>
        <td>ukj5j5j 76j 6j56j 6j 6 j  6h</td>
    </tr>
    <tr>
        <td>
            ds asdf sdfsdfsdf dsf
        </td>
        <td>ukj5j5j 76j 6j56j 6j 6 j  6h</td>
    </tr>
</table>

<table>
    <tr>
        <td>a dd qwe qwe eqwrQWEREWQREWQRQWE eqwq</td>
    </tr>
</table>

</body>
</html>