#person-activity-view {
    display: block;
    height: 100%;
}

:host {
    display: block;
    height: 100%;
}

table.detail-table {

    border: 0.1px  solid #aaaaaa;
    font-size: x-small;

}

tr.task-rt {
    vertical-align: top;
    display: inline;
}

tr.task-done {
    background-color: #eeffee;
    vertical-align: top;
    white-space: normal;
}

tr.task-not-done {
    background-color: #eeeeff;
    vertical-align: top;
    white-space: normal;
}

td.task-total {
    font-weight: bold;
    vertical-align: top;
}

td.task-total-value {
    font-weight: bold;
    vertical-align: top;
    text-align: end;
    background-color: #eeeeee;
    vert-align: top;
}


div.employee-column {
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-s);
    padding: var(--lumo-space-s);
}

div.employee-column>h3 {
    margin: 0;
}


#order {
    margin: 0
}

.email {
    color: var(--lumo-primary-text-color);
}