#tean-board {
    display: block;
    height: 80vh;
}

:host {
    display: block;
    height: 100%;
}


.photo-card {

}

.photo-datetime {
    color: red;
    align-self: end;

}

.photo-old {
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

}





