<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="a.css">
</head>
<body>

<table border="1">

    <tr>
        <td >
            1 sasdadsadsfasdfasdf

        </td>
        <td class="paname">
            2 ;lsdfjsdlkfh ; fsdf sd
            sdf
            sdf
            sdfsd
            f sdf
            sdf
            sdfg
            dfg
            sdfg
            sdfg sdf
            g fsd
            gdfs
            g
        </td>
        <td>
            <table class="detail-table" width="100%">
                <tbody>
                <tr class="detail-table-tr">
                    <td valign="top">ASD-822</td>
                    <td valign="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.0
                    </td>
                    <td valign="top" aligin="right">1d18h33m2s</td>
                </tr>
                <tr class="detail-table-tr">
                    <td valign="top">ASD-823</td>
                    <td valign="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.1
                    </td>
                    <td valign="top" aligin="right">1d18h33m2s</td>
                </tr>
                <tr class="detail-table-tr">
                    <td valign="top">ASD-824</td>
                    <td valign="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.2
                    </td>
                    <td valign="top" aligin="right">1d18h33m2s</td>
                </tr>
                <tr class="detail-table-tr">
                    <td width="95%" valign="top" colspan="2">Total</td>
                    <td width="5%" valign="top" aligin="right">PT127H39M6S</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="paname">
                4

        </td>
    </tr>
</table>
</body>
</html>