:host {
    display: block;
    height: 100%;
}

table.detail-table-report {
    border: 0.1px dashed var(--lumo-primary-color-50pct);
    font-size: medium;;
}

tr.task-rt {
    vertical-align: top;
    display: inline;
}

tr.task-done {
    background-color: var(--lumo-success-color-10pct);
    vertical-align: top;
    white-space: normal;
}

tr.task-not-done {
    background-color: var(--lumo-primary-color-10pct);
    vertical-align: top;
    white-space: normal;
}

td.task-total {
    font-weight: bold;
    vertical-align: top;
}

td.task-total-value {
    font-weight: bold;
    vertical-align: top;
    text-align: end;
    background-color: var(--lumo-primary-color-50pct);
    vert-align: top;
    white-space: normal;
}